<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Actualizaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      
      <ion-card class="w-100">
        <ion-card-header>
          <ion-card-title>Novedades</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <p>En esta pestaña se mostrarán las últimas actualizaciones y novedades.</p><br>
              </ion-col>
            </ion-row>

          </ion-grid>
         
        </ion-card-content>
      </ion-card>
      
    </ion-row>
  </ion-grid>
</ion-content>
